<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>¿Qué Soy?  |  SPCC  | Cafetería Coyote</title>
  </head>
  <body>
    <header>
      <section>
        <div class="nav">
          <!--Aquí va el Nav-->
        </div>
        <div class="titulo">
          <h1>¿Qué Soy?</h1>
        </div>
      </section>
    </header>
    <p>El SPCC o Sistema de Pedidos de la Cafetería Coyote, fuí creado por un conjunto de programadores, los cuales sabían exzactamente que necesito,
        como quiero verme, lo que quiero decir y como interpretarme cuando les mando error por celoso.<br>
        Mi <u><b>Función Principal</b></u> es la de brindarle un servicio amgable y dinámicop a la Prepa 6, debido a que no se dan abasto con
        la comida(No es culpa de nadie que la Cafetería Coyote sea la que mejor sazón tiene de entre las demás de las ENP's)<br>
        Espero poder satisfacer todas las necesitades que tenga como usuario, cualquier problema, mal funcionamiento, comentario o sugerencia<br>
        favor de enviarla a alguna persona de las que estpan en la <a href="Contacto.html"><u><b>Página de Contacto</b></u></a><br>
        Gracias por su preferencia, <a href="Maquetado.html"><u>A comer!</u></a></p>
    <footer>
      <div class="titulofooter">
        <h4><u>Footer</u></h4>
      </div>
      <div class="contacto">
        <a href="Contacto.html">Página de Contacto</a>
      </div>
      <div class="direccion">
        <img src="https://static.vecteezy.com/system/resources/previews/000/552/663/non_2x/geo-location-pin-vector-icon.jpg" alt="Pint Logo" width="20px">
        <p><a href="https://www.google.com.mx/maps/place/Escuela+Nacional+Preparatoria+N%C2%B0+6+%22Antonio+Caso%22+UNAM/@19.3521753,-99.1561553,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1ffcf9cc30dbd:0xf8b434a6ebcd6c83!8m2!3d19.3521753!4d-99.1561553"><u>Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX</u></a></p>
      </div>
      <div class="legal">
        <p>Copyright (c) 2020 Copyright Holder All Rights Reserved.</p>
      </div>
      <div class="autores">
        <p>Diego Vapnik, Montze Baez, Aranxta Junco, Diego Muriel.</p>
      </div>
    </footer>
  </body>
</html>
