<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro de Usuario  |  Cafetería Coyote</title>
  </head>
  <body>
    <h1><b><u>Hola Usuario Nuevo!</u></b></h1><!-- Profesor y funcionario -->
    <p>Por favor llena <mark>todos</mark> los campos que se te solicitan</p> <!--nombre, colegio y usario(RFC)-->
    <input type="text" name="nombre" placeholder="Nombre">
    Colegio: <select name="colegio">
      <option value="1">Física</option>
      <option value="2">Informática</option>
      <option value="3">Matemáticas</option>
      <option value="4">Biología</option>
      <option value="5">Educación Física</option>
      <option value="6">Morfología, Fisiología y Salud</option>
      <option value="7">Orientación Educativa</option>
      <option value="8">Psicologia e Higiene Mental</option>
      <option value="9">Química</option>
      <option value="10">Ciencias Sociales</option>
      <option value="11">Geografía</option>
      <option value="12">Historia</option>
      <option value="13">Alemán</option>
      <option value="14">Artes Plásticas</option>
      <option value="15">Danza</option>
      <option value="16">Dibujo y Modelado</option>
      <option value="17">Filosofía</option>
      <option value="18">Francés</option>
      <option value="19">Inglés</option>
      <option value="20">Italiano</option>
      <option value="21">Letras Clásicas</option>
      <option value="22">Literatura</option>
      <option value="23">Música</option>
      <option value="24">Teatro</option>
    </select>
    <fieldset>
      <span>USUARIO</span>
      <input type="text" name="RFC" placeholder="RFC">
      <span>El RFC será lo que coloques dentro del campo de Usuario</span>
      <span>CONTRASEÑA</span>
      <input type="password" name="contrasenia" placeholder="Contraseña">
  </fieldset>
  </body>
</html>
