<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registro de Usuario  |  Cafetería Coyote</title>
  </head>
  <body>
    <h1><b><u>Hola Usuario Nuevo!</u></b></h1><!-- Profesor y funcionario -->
    <p>Por favor llena <mark>todos</mark> los campos que se te solicitan</p> <!--nombre, colegio y usario(RFC)-->
    <input type="text" name="nombre" placeholder="Nombre">
    <fieldset>
    <span>USUARIO</span>
    <input type="number" name="numTrab" placeholder="Número de trabajador">
    <span>El Número de trabajador será lo que coloques dentro del campo de Usuario</span>
    <span>CONTRASEÑA</span>
    <input type="password" name="contrasenia" placeholder="Contraseña">
  </fieldset>
  </body>
</html>
